@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --buttonColor: #0800FF; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

img {
  display: inline-block;
}

.homepage {
  background-image: url('../../public/assets/BackgroundWeb.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.buttonsForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 3; 
  grid-row: 2;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 3; 
  grid-row: 2;
}

.logo {
  background-image: url('../../public/assets/LogoWeb.png');
  background-size: cover;
  background-position: center center;
  grid-column: 3; 
  grid-row: 1;
}

h5 span {
  background-color: white;
  padding: 0 10px;
}

#divider {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  color: black;
  margin: 30px auto 30px auto;
}

.loginButton {
  width: 80%;
  height: 50px;
  color: white;
  border-radius: 5px;
  border: 1px solid var(--buttonColor);
  background: var(--buttonColor);
}

.submitButton {
  background-color: #21947E;
  width: 50%;
  align-self: center;
  color: white;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  color: black;
  padding: 14px 20px;
  border: 2px solid black;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.inputWrapper {
  width: 70%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.navLink:hover {
  color:#F14646 !important;
}

.productsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.productsWrapper h1 {
  margin-bottom: 30px;
  font-size: 3em;
}

.descriptionWrapper {
  margin-top: 30px;
  width: 20vw;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 30%;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 30%;
}

.mainContainerContact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer {
  background-color: #754949;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 600px;
  width: 1000px;
  margin-top: 5%;
}

.firstColumnContact {
  flex: 1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.secondColumnContact {
  flex: 1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.profileContainer h1 {
  margin-bottom: 30px;
  font-size: 2.5em;
}

.buyerProductsContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.buyerProductsContainer div {
  flex: 1;
  text-align: center;
}

.cakeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pastryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.leftArrowCake {
  position: absolute;
  left: 10px
}

.rightArrowCake {
  position: absolute;
  right: 10px;
}


.leftArrowPastry {
  position: absolute;
  left: 10px
}

.rightArrowPastry {
  position: absolute;
  right: 10px;
}

.singleProductContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.singleProductContainer div {
  flex: 1;
}

.singleProductFirstColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.svgCartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttonsContainer .cartButton {
  width: 20vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleProductSecondColumn {

}

.allComentsForProduct {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.commentsWrapper {
    margin-left: 10%;
    margin-right: 10%;
}
.newCommentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.newComment {
  margin-top: 100px;
}